{% extends "base_generic.html" %}

	{% load static %}
	{% block css %}
	<title>HomePage</title>
		<link rel="stylesheet" href="{% static 'appointments/css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'appointments/css/style.css' %}" type="text/css" media="all" />
		<link href="{% static 'appointments/css/css_slider.css' %}" type="text/css" rel="stylesheet" media="all">
		<link href="{% static 'appointments/css/font-awesome.min.css' %}" rel="stylesheet">

			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta charset="UTF-8" />
			<meta name="keywords" content="Be Clinic Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
			<script>
				addEventListener("load", function () {
					setTimeout(hideURLbar, 0);
				}, false);

				function hideURLbar() {
					window.scrollTo(0, 1);
				}
			</script>

			<link href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
			<link href="//fonts.googleapis.com/css?family=Mukta:200,300,400,500,600,700,800&amp;subset=devanagari,latin-ext" rel="stylesheet">

	  <link rel="stylesheet" href="{% static 'appoinments/styles1.css' %}">
	{% endblock %}

{% block content %}

	<div id="home">

		<header>
			<div class="top-bar py-3">
				<div class="container">
					<div class="row">

						<div class="col-xl-7 col-lg-6 col-md-4 top-social-agile text-md-right text-center mt-md-0 mt-2">
							<div class="row">
								<div class="offset-xl-6 offset-lg-4">
								</div>
								<div class="col-xl-3 col-lg-4 col-6 top-w3layouts p-md-0 text-right">

									<a href="{% url 'account_login' %}" class="login-button-2 text-uppercase text-bl">
										<span class="fa fa-sign-in mr-2"></span>Login</a>

								</div>
								<div class="col-xl-3 col-lg-4 col-6 header-w3layouts text-md-right text-left">

									<a href="{% url 'account_signup' %}" class="login-button-2 text-uppercase text-bl">
										<span class="fa fa-pencil-square-o mr-2"></span>Sign Up</a>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div class="main-top">
			<div class="container">
				<div class="header d-md-flex justify-content-between align-items-center py-3">

					<div id="logo">
						<h1>
							<a href="{% url 'homepage' %}">
								<span class="fa fa-user-md mr-2"></span>
								<span class="logo-sp">WELLNESS</span>
							</a>
						</h1>
					</div>

				</div>
			</div>
		</div>

		<div class="banner_w3lspvt">
			<div class="csslider infinity" id="slider1">
				<input type="radio" name="slides" checked="checked" id="slides_1" />
				<input type="radio" name="slides" id="slides_2" />
				<input type="radio" name="slides" id="slides_3" />
				<ul class="banner_slide_bg">
					<li class="banner-top1">
						<div class="container">
							<div class="banner-info_agile_w3ls text-center mx-auto">
								<h3 class="text-wh font-weight-bold">Providing extensive family Health care</h3>

							</div>
						</div>
					</li>
					<li class="banner-top2">
						<div class="container">
							<div class="banner-info_agile_w3ls text-center mx-auto">
								<h3 class="text-wh font-weight-bold">Bringing Health to life for the whole family</h3>

							</div>
						</div>
					</li>
					<li class="banner-top3">
						<div class="container">
							<div class="banner-info_agile_w3ls text-center mx-auto">
								<h3 class="text-wh font-weight-bold">The best Doctor gives the least Medicines</h3>

							</div>
						</div>
					</li>
				</ul>
				<div class="navigation">
					<div>
						<label for="slides_1"></label>
						<label for="slides_2"></label>
						<label for="slides_3"></label>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="section-2">
		<div class="container-fluid">
			<div class="row slide">
				<div class="col-xl-4 triple-sec p-5 text-center">
					<p class="text-uppercase text-li mt-xl-5 mt-4 pt-xl-2" style="font-size:180%;"><b>Wellness</b></p>

					<p style="color:white; font-size:150%;">We are a non-profit agency the provide an interactive environment for both patients and doctors.</p>
				</div>

				<div class="col-xl-4 triple-sec p-5">
					<h5 class="text-wh font-weight-bold">Opening Hours</h5>
					<ul class="list-unstyled text-wh mt-4">
						<li class="clearfix py-3">
							<span class="float-left"> Monday - Friday </span>
							<div class="value float-right"> 9.00 - 20.00 </div>
						</li>
						<li class="clearfix border-top border-bottom py-3">
							<span class="float-left"> Saturday </span>
							<div class="value float-right"> 10.00 - 16.00 </div>
						</li>
						<li class="clearfix py-3">
							<span class="float-left"> Sunday </span>
							<div class="value float-right"> Off </div>
						</li>
					</ul>
				</div>
				<div class="col-xl-4 triple-sec p-5">
					<h5 class="text-wh font-weight-bold">We have something to be proud of</h5>
					<ul class="list-unstyled mt-4">
						<li class="style-bottom-w3">
							<h4 class="text-wh font-weight-bold">6250</h4>
							<p class="text-li">Happy Patients</p>
						</li>
						<li class="style-bottom-w3 mt-3">
							<h4 class="text-wh font-weight-bold">48</h4>
							<p class="text-li">Years of experience</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<section class="blog_w3ls py-5" id="why">
		<div class="container py-xl-5 py-lg-3">
			<div class="title-section mb-md-5 mb-4">
				<h6 class="w3ls-title-sub">About Us</h6>
				<h3 class="w3ls-title text-uppercase text-bl font-weight-bold">Why Choose Us</h3>
			</div>
			<div class="row">

				<div class="col-lg-4 col-md-6">
					<div class="card border-0 med-blog">
						<div class="card-header p-0">
							<img class="card-img-bottom" src="{% static 'appointments/images/blog1.jpg' %}" alt="image">
						</div>
						<div class="card-body border border-top-0">
							<div class="mb-3">
								<h5 class="blog-title card-title m-0">Making your life <br>easy</h5>

							</div>
							<p>Resolves the problem of booking appoinments and saves time.</p>

						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 mt-md-0 mt-5">
					<div class="card border-0 med-blog">
						<div class="card-header p-0">
							<img class="card-img-bottom" src="{% static 'appointments/images/blog3.jpg' %}" alt="image">
						</div>
						<div class="card-body border border-top-0">
							<div class="mb-3">
								<h5 class="blog-title card-title m-0">Great user <br>interface</h5>

							</div>
							<p>Our website is easy to navigate and user-friendly.</p>

						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
					<div class="card border-0 med-blog">
						<div class="card-header p-0">
							<img class="card-img-bottom" src="{% static 'appointments/images/blog2.jpg' %}" alt="image">
						</div>
						<div class="card-body border border-top-0">
							<div class="mb-3">
								<h5 class="blog-title card-title m-0">Doctors at one end, patients at other</h5>

							</div>
							<p>We are making both the ends quite literally.</p>

						</div>
					</div>
				</div>

			</div>
		</div>
	</section>

	<section class="loan_w3ls py-5" id="form">
		<div class="container py-xl-5 py-lg-3">
			<div class="row">
				<div class="d-flex services-box">
					<span class="fa fa-hospital-o" aria-hidden="true"></span>
					<div class="service-content ml-4">
						<b><h3 style="color:Tomato;">Emergency <br>Booking</h3>
						<p class="my-3" style="color:Tomato;">
							Call : 8888888888<br>Mail : wellness@eiitg.com
						</p></b>
					</div>
				</div>
				<div class="d-flex services-box">
					<span class="fa fa-ambulance" aria-hidden="true"></span>
					<div class="service-content ml-4">
						<b><h3 style="color:Tomato;">Ambulance</h3>
						<p class="my-3" style="color:Tomato;">
							Call : 1000001
						</p></b>
					</div>
				</div>
			</div>
		</div>
	</section>



	<section class="services py-5">

		<br>
	</section>

	<footer class="py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="row">
				<div class="col-lg-7 w3l-footer">
					<!-- logo -->
					<div class="logo2">
						<h2>
							<a href="{% url 'homepage' %}">
								<span class="fa fa-user-md mr-2"></span>
								<span class="logo-sp">Wellness</span>
							</a>
						</h2>
					</div>

					<ul class="list-unstyled list-styles mt-lg-5 mt-4">
						<li>
							<p class="text-li"><span class="fa fa-location-arrow mr-2"></span>IIT Guwahati, Assam, India</p>
						</li>
						<li class="my-3">
							<p class="text-li"><span class="fa fa-phone mr-2"></span>8402023123</p>
						</li>
						<li>
							<a href="mailto:wellness@eiitg.com" class="text-wh"><span class="fa fa-envelope-open mr-2"></span>wellness@eiitg.com</a>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</footer>




	<div class="copy-w3pvt" style = "background-color:white" >

	  <div class="container py-3">
	    <div class="row">
	      <div class="col-lg-7 w3ls_footer_grid1_left text-lg-left text-center">
	        <p>&copy; 2019 Wellness. All rights reserved | Design by Udgam-G
	        </p>
	      </div>

	    </div>
	  </div>
	</div>

{% endblock %}
