{% extends "base_generic.html" %}
{% load static %}
{% block css %}

{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1>Hello Dr. {{ doctor.name }}!</h1>
  </div>

  <a href="{% url 'appointments:UpdateProfile' doctor.id %}"><button type="button" class="btn btn-primary btn-lg">Update Profile</button></a>
  <a href="{% url 'appointments:CreateSlots' doctor.id %}"><button type="button" class="btn btn-primary btn-lg">Create Slots</button></a>
  <a href="{% url 'account_logout' %}"><button type="button" class="btn btn-primary btn-lg">Logout</button></a>
  <br>

  <!-- <button type="button" class="btn btn-primary btn-lg">Status</button> -->
  <!-- <button type="button" class="btn btn-primary btn-lg">Cancel Appointment</button> -->
  {% if apps %}
  <ol class="display-4">
    <li>
      {% for app in apps %}
        {{ app.patient.name }}<br>
        {{ app.day }}<br>
        {{ app.time }}<br>
        <a href="{% url 'appointments:cancelAppointment' app.id %}"><button type="button" class="btn btn-primary btn-lg">Cancel Appointment</button></a>
      {% endfor %}
    </li>
  </ol>
  {% else %}
  <h1>No appointments</h1>
  {% endif %}
{% endblock%}
