{% extends "base_generic.html" %}
{% load static %}
{% block css %}

<style>

  img{
    margin-right: 15px;
  }
</style>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Patient Dashboard</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link href="{% static 'appointments/css/dashboard.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#" style="padding-top:0px;">
    <img src="{% static 'images/nll.jpg' %}" width="150" height="50" alt="Wellness">
  </a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'appointments:CreateSlots' doctor.id %}">Create Slots</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'appointments:UpdateProfile' doctor.id %}">Update Profile</a>
    </li>
    <li class="nav-item" style="float:right;">
      <a class="nav-link" href="{% url 'account_logout' %}">Log Out</a>
    </li>
  </ul>
</nav>

<div class="jumbotron">
  <h2>Hello Dr. {{ doctor.name }}!</h1>
</div>

{% if apps %}
<ol class="display-4">
  <li>
    {% for app in apps %}
        <div class="left-pad">
            <img class="img" src="/media/{{app.patient.profile_pic}}" height=130px width=150px>
            <div class="data"><b>Appointment</b>: {{forloop.counter}}</div>
            <div class="data"><b>Patient</b>: {{ app.patient.name }}</div>
            <div class="data"><b>Day</b>: {{ app.day }}</div>
            <div class="data"><b>Time</b>: {{ app.time }}</div>
            <!-- <form action="#">
                <input type="submit" value="Cancel Appointment">
            </form> -->
            <a href="{% url 'appointments:cancelAppointment' app.id %}"><button type="button" class="btn btn-primary btn-lg">Cancel Appointment</button></a>
            <hr align="left" width=95%>
        </div>

    {% endfor %}
  </li>
</ol>
{% else %}
<h1 class="ml-4" style="color:white;">You currently have no appointments</h1>
{% endif %}

{% endblock%}
