{% extends "base_generic.html" %}
{% load static %}
{% block css %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Patient Dashboard</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link href="{% static 'appointments/css/dashboard.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#" style="padding-top:0px;">
    <img src="{% static 'images/nll.jpg' %}" width="150" height="50" alt="Wellness">
  </a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'appointments:BookAppointment' %}">Book an appointment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'appointments:UpdateProfile' patient.id %}">Update Profile</a>
    </li>
    <li class="nav-item" style="float:right;">
      <a class="nav-link" href="{% url 'account_logout' %}">Log Out</a>
    </li>
  </ul>
</nav>
  <div class="jumbotron">
    <h1>Hello {{ patient.name }}!</h1>
  </div>
  <br>
  <h1 class="jumbotron">Booked Appointments</h1>
  {% if apps %}
  <ol class="display-4">
    <li>
      {% for app in apps %}
        {{ app.doctor.name }}<br>
        {{ app.day }}<br>
        {{ app.time }}<br>
        <a href="{% url 'appointments:cancelAppointment' app.id %}"><button type="button" class="btn btn-primary btn-lg">Cancel Appointment</button></a>
      {% endfor %}
    </li>
  </ol>

  {% else %}
  <h4>No appointments</h1>
  {% endif %}

  <h1 class="jumbotron">Cancelled Appointments : </h1>
  {% if cancelled %}
  <ol class="display-4">
    <li>
      {% for app in cancelled %}
        {{ app.doctor.name }}<br>
        {{ app.day }}<br>
        {{ app.time }}<br>
        <a href="{% url 'appointments:deleteAppointment' app.id %}"><button type="button" class="btn btn-primary btn-lg">Delete from history</button></a>
        <br>
      {% endfor %}
    </li>
  </ol>
  {% else %}
  <h4>Hurray!! No appointments to delete</h1>
  {% endif %}

{% endblock %}
